*
{
    padding:  0;
     margin: 0;
}

.header
{
     height :100%;
     background-image: url(BL1.jpg);
     background-size: cover ;
background-position:center;
background-attachment:filled;
width: 1400;
height: 620;
padding-top: 20px;
text-align: center;
color: aliceblue;

}
.header 
{
width: 2  px;
float: left;
}
.Home-btn
{
width: 100px;
padding: 8px;
outline:  mone;
border: 2px;
border-radius: 50px;
background: transparent;
float: right;
}
.header h1
{
     padding-top: 200px;
     padding-bottom: 0;
     font-size: 55px;

}
.input-group
{
     width: 90%;
     max-width: 500px;
     border-radius:30px ;
     background: white;
     margin: auto;
     padding: 2px;
}
.form-comtrol 
{
     border: 0;
     border-radius: 30px;
     margin: 2px;
     box-shadow: none;
}
.input-group-text
{
     width: 100px;
     background-image: linear-gradient(#00ff7e,#1f3d90);
     border: 0;
     color: white;
     padding: 0 25px;
border-radius: 30px;
box-shadow: none;
}

.Features
{
padding: 100px;
}
h1
{
     text-align: center;
     padding-bottom: 40px;
      
}
feature-img img
{
     width: 100%;

}
.price
{
     width: 40px;
     height: 40px;
     background: #000000;
     color: blanchedalmond;
     position:absolute;
     left: 20px;
     bottom: -50px;
}
.feature-img
{
     position: relative;
}
.rating
{
     padding: 3px;
     float: right;
     background: #fff;
     bottom: -1px;
     right: 55;
     position: absolute;

}
.Features .fa
{
font-size:15px;
color: black;

}
.gallery-box img
{
     width: 100%;
     border-radius: 10px;
     cursor: pointer;
     transition: 1s;

}
.gallery-box:hover
{
     transform: scale(1.1);
}
.gallery-box h4
{
     display: block;
     color:black ;
     text-shadow: -2px 2px 2px #000;
     font-size: 20px;
     position: absolute;
     top: 50%;
     left: 50%;
     text-align: center;
     font-weight: 600;
transform: translate(-50%,-50%);
}
.gallery-box 
{
     position: relative;
     margin-bottom: 30px;

}
.banner
{
     height: 80%;
     background-image: url(Banner.jpg) ;
     background-position: center;
     background-size: cover;
background-attachment: fixed;
padding-top: 14%;
}

.banner-highlights
{

padding: 70px 0;
background: rgba (0,0,0,0.7);
text-align: center;
color: #fff;

}
.booking-btn
{
     width: 120px;
     padding: 8px;
     outline:  mone;
     border: 2px;
     border-radius: 50px;
     background: transparent;
     color: #fff;
     margin-top: 20px;

     
}
.user-feedback
{
padding: 100px 0;
}
.user-review
{
     text-align: center;
     box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2) ;
}
.user-review p
{
     padding:  50px 10px 10px 10px;
}
.user-feedback img
{
     width: 60px;
     height: 60px;
     border-radius: 50%;
     position: relative;
     margin: -30px 0 20px 40%;
}
.user-review p::before
{
     content: "\201d";
     display: block;
     position: absolute;
     font-size: 100px;
     color: aquamarine;
     font-family: sans-serif;
     left: 44%;
     top: -20px;
}
.fotter
{
     padding: 100px 20px 20px;
     background-image:linear-gradient(#2d557d,#9610fb);
color: #fff;

}
.fotter-logo
{
     width: 150px;
     margin-top: 15px;
     margin-bottom: 15px;

}
.fotter-logo h4
{
     text-align: left;
     margin-top: 15px;
     margin-bottom: 25px;

}
.fotter-logo p
{
     font-size:12px;
     text-align: justify;
     padding: right 35px; ;

}
.fotter.row.fa
{
     padding-right:20px ;
     font-size: 15px;

}
.fotter hr
{
     margin-top: 10px;
     background: #efef;

}
.fa-fa-computer
{
 margin: 0 5px;
 color: #f44336;
    
}
.fotter .copyright
{
     text-align: center;
}