header
{
    background-color: rgb(196, 196, 196);
  

}
h1{
    text-align: center;
    text-transform: uppercase;
     color:rgb(255, 251, 251); 

}
a{
    color: #000;
}
h2{
    color:rgb(53, 5, 116); 
    text-transform: uppercase;
    
}
section{
    background-color: rgb(128, 123, 123); 
}
aside{
    display: none;
}